# Python

Python is an interpreted, object-oriented, high-level programming language.

Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together.

Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance.

Python supports modules and packages, which encourages program modularity and code reuse.

## First Python Code

In [ ]:
print(4+5)

In [ ]:
print("Hello, Good Morning")

## Python Variables

A container that stores a value

### Creating a Variable

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
a=10
b='ten'

In [ ]:
print(a,b)

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
a=15 # type = integer
a= 'fifteen' # type = string

variables are case sensative

In [ ]:
a=15
A=10
#both are different
print(a,A)

In [ ]:
name="John"
nAme="Smith"
print(nAme)

### Naming a variable

A variable can have a short name (like a or b) or a more descriptive name (age, state, total_sales). 
There are some Rules for naming a Python variable:

* A variable name must start with a letter or the underscore character.

* **A variable name cannot start with a number.**
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

* Variable names are case-sensitive (age, Age and AGE are three different variables)

* A variable name cannot be any of the **Python keywords**

In [ ]:
a=15 #this is a variable
#_a=15
_5=15

In [ ]:
print(_a)

**Python Keywords :**

and, as, assert, async, await, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, lambda, nonlocal, not, or, pass, print, raise, return, return, try, while, with, yield.


**These keywords are reserved and cannot be used as variable names or function names in a Python program.**

#### Incorrect Way

In [ ]:


name="name"

In [ ]:
1name="name"

In [ ]:
1_name="name"

#### Correct Way

In [ ]:
name="name"
name_1="name"

## Python Data Types

A Python variables can store data of different types

### Built-in Data Types

Python has the following data types built-in by default, in these categories:


* Numeric Types:	int, float
* Text Type:	str
* Sequence Types:	list, tuple
* Mapping Type:	dict
* Set Types:	set
* Boolean Type:	bool
* Binary Types:	bytes, bytearray
* None Type:	NoneType

### Numeric Types

In [ ]:
a=10
b=10.8
c=-8

In [ ]:
print(b)

#### type() Function

type() is used to find the data type of a given variable in python

In [ ]:
type(c)

In [ ]:
b=10e5

In [ ]:
print(b)

In [ ]:
type(b)

In [ ]:
type("jaohn smith")

In [ ]:
#+ - / * operators

In [ ]:
10+5 #operands

In [ ]:
a=10 #int
b=10.5 #float
c=a-b
print(c)
print(type(c))

In [ ]:
#(x+y^2 )/2

In [ ]:
x=5
y=10


out= (x+y*y)/2

#5+(100/2)=55
print(out)

### Text Type

### **Python Strings**

Sequence of characters enclosed in quotes

In [ ]:
a='Start'         # sungle Quote
b="Tech"          # Double Quote
c='''Academy'''   # Tripple Quote

In [ ]:
print(a,b,c)

In [ ]:
x="what's"

In [ ]:
x="what's"

In [ ]:
z='''start 'tech' "Academy"'''

In [ ]:
print(z)

### String Slicing

A python string can be sliced to get a part for a string from original string

In [ ]:
name="Start-Tech Academy"

slice=string[start_index:end_index]

In [ ]:
slice=name[0:6]

In [ ]:
print(slice)

In [ ]:
slice=name[5:11]
print(slice)

In [ ]:
slice=name[:]
print(slice)

**negative indexing**

In [ ]:
slice=name[-7:-1]    #-1 ---->[ length - 1 ]
print(slice)

In [ ]:
slice=name[0:-1]    #-1 ---->[ length - 1 ]
print(slice)

#### String Slicing with skip value

In [ ]:
slice=name[0:15:4]    # [start:end:skip]  ---> here we are skipping to second character 
print(slice)

### String Concatenation

In [ ]:
a= "Start"
b="Tech"
c='Academy'

In [ ]:
z="Start"+'-'+b+' '+c
print(z)

### String Methods

Python string methods are a set of built-in functions that you can use on strings for data handling and manipulation.

**.upper()**

Converts a string into upper case

In [9]:
a="start"
a=a.upper()

**.lower()**

Converts a string into lower case

In [7]:
a=a.lower()
print(a)

start

**.islower()**

Returns True if all characters in the string are Lower case

In [10]:
a.islower()

False

**.isupper()**

Returns True if all characters in the string are Upper case

In [11]:
a.isupper()

True

**.isdigit()**

Returns True if all characters in the string are digits

In [13]:
b="100a"
b.isdigit()

False

**.isdecimal()**

Returns True if all characters in the string are decimals

In [18]:
b="105b"
b.isdecimal()

False

**.startswith()**

Returns true if the string starts with the specified value

In [23]:
a="tart-Tech"

In [24]:
a.startswith("S")

False

**.endsswith()**

Returns true if the string ends with the specified value

In [25]:
a.endswith("h")

True

**.count()**

Returns the number of times a specified value occurs in a string

In [26]:
a.count("t")

2

**.capitalize()**

Converts the first character to upper case

In [27]:
a="good"
a.capitalize()

'Good'

**.find(arg)**

Searches the string for a specified value and returns the position of where it was found

In [28]:
c="www.Abc.com"

In [29]:
c.find("A")

4

**.replace()**

Returns a string where a specified value is replaced with a specified value

In [31]:
a.replace("g","Starte")

'Starteood'

**Len()**

Len is a Function
LEn identifies number of characters in the string

In [32]:
len(a)

4

In [36]:
a=a.replace("goo","Starte")

In [37]:
len(a)

7

**Escape sequence characters in String**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

In [38]:
a ="This is "Start-Tech Academy"."

SyntaxError: invalid syntax (891894369.py, line 1)

In [39]:
a ="This is \"Start-Tech Academy\"."

In [40]:
a

'This is "Start-Tech Academy".'

Escape ccharacters comprises of more then one character but represents one character when used within the string

Exapmple: \n (new line) , \t (insert tab) , \' (insert quote) , \\ (insert backslash)

In [43]:
print('Start-Tech \nAcademy')
print('Start-Tech \t Academy')
print('Start-Tech \\ Academy')

Start-Tech
Academy
Start-Tech 	 Academy
Start-Tech \ Academy

### Sequence Types

### Python List

Python Lists are containers to store a set of value of **any data type**

one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [44]:
List=list()

In [45]:
print(List)

[]

In [52]:
List = ["Apple","Banana",15,5,False,6.5,7.5]

In [49]:
List

['Apple', 'Banana', 15, 5, False, 7.5, 7.5]

**List Items**


List items are ordered, changeable, and allow duplicate values.

**List Indexing**

A list can be indexed just like a string

In [50]:
List[0]

'Apple'

In [53]:
List[5]

6.5

**Slicing**

In [54]:
List[1:5]

['Banana', 15, 5, False]

In [55]:
List[-4:-1]

[5, False, 6.5]

In [57]:
List[::3]   #slicing with skip

['Apple', 5, 7.5]

**Change/Update List Items**

In [58]:
List[1]="Mango"
List

['Apple', 'Mango', 15, 5, False, 6.5, 7.5]

**List Methods**

Python has a set of built-in methods that you can use on lists.

**.append(element)**


Adds an element at the end of the list

In [60]:
List.append("Banana")
print(List)

['Apple', 'Mango', 15, 5, False, 6.5, 7.5, 'Banana', 'Banana']

**.extend(List)**

Add the elements of a list (or any iterable), to the end of the current list

In [61]:
List.extend("red")

In [62]:
List

['Apple', 'Mango', 15, 5, False, 6.5, 7.5, 'Banana', 'Banana', 'r', 'e', 'd']

**.sort()**

Sorts the list

In [63]:
L1=[5,7,10,15,1,6]
L1.sort()
L1

[1, 5, 6, 7, 10, 15]

**.reverse()**

Reverses the order of the list

In [64]:
L1=[4,7,10,15,1,6]
L1.reverse()
L1

[6, 1, 15, 10, 7, 4]

**.insert(position, element)**

Adds an element at the specified position

In [73]:
L1.insert(5,6)
L1

[1, 15, 10, 7, 6, 6, 6, 5, 4]

**.pop(position)**


Removes the element at the specified position

In [68]:
L1.pop(0)

6

In [69]:
L1

[1, 15, 10, 7, 6, 6, 5, 4]

**.remove(element)**


Removes the element with the specified value

In [70]:
L1.remove(6)
L1

[1, 15, 10, 7, 6, 5, 4]

**.count(element)**

Returns the number of elements with the specified value

In [74]:
L1.count(6)



#Count number of times 1 is present in the list

3

**.clear()**


Clear the list

In [75]:
L1.clear()
L1

[]

### Python Tupple

* Tuples are used to store multiple items in a single variable.

* A tuple is a collection which is ordered and unchangeable or immutable. (can't alter/manipulate) 

* Tuples are written with round brackets. tupple=(1,2,3)

**Empty tupple**

In [77]:
a=tuple()

In [109]:
a=()
a

()

**Tupple with single element**

In [114]:
b=(5,)

In [115]:
type(b)

tuple

In [116]:
a="mango"
type(a)

str

**Tupple with more then 1 element**

In [117]:
tuple1=(1,2.5,"banana",False)

In [118]:
type(tuple1)

tuple

**Indexed**

Tuple items are indexed, the first item has index [0], the second item has index [1] etc

In [119]:
tuple1[2]

'banana'

**Unchangeable**

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [120]:
tuple1[1]=5

TypeError: 'tuple' object does not support item assignment

#### Typecasting

In [121]:
a=10
type(a)

int

In [122]:
a=float(a)
type(a)

float

In [123]:
a

10.0

**To update or change value of a tupple we have to first convert a tupple into a list using typecasting**

In [124]:
c=(1,2,"mango",True)

In [125]:
print(type(c))

c=list(c)
print(type(c))

<class 'tuple'>
<class 'list'>

In [127]:
print(c)
c[1]=5
c=tuple(c)
c

[1, 2, 'mango', True]

(1, 5, 'mango', True)

**Allow Duplicates**

Since tuples are indexed, they can have items with the same value:

In [128]:
d=(1,1,1,1,2)
d

(1, 1, 1, 1, 2)

In [129]:
type(d)

tuple

#### Tupple Methods

**.count()**

Returns the number of times a specified value occurs in a tuple

In [130]:
d.count(1)

4

**.index()**

Searches the tuple for a specified value and returns the position of where it was found

In [132]:
d.index(1)

0

# Mapping type

### Python Dictionaries

Dictionary is a collection aof Key-Value pairs

A dictionary is ordered,indexed, changeable/mutable and do not allow duplicates(keys).

In [150]:
a={"name":"Start-Tech Academy",
  "City":"Gurugram",
  "Year":2024,
  "Work":["Data Analytics","Data Science"],
  12:"address"}

In [151]:
a

{'name': 'Start-Tech Academy',
 'City': 'Gurugram',
 'Year': 2024,
 'Work': ['Data Analytics', 'Data Science'],
 12: 'address'}

In [152]:
a[12]

'address'

In [135]:
a["name"]

'Start-Tech Academy'

In [137]:
a["Work"][1]

'Data Science'

**do not allow duplicates.**

In [139]:
a={"name":"Start-Tech Academy",
  "City":"Gurugram",
  "Year":2024,
  "Work":"Data Analytics","Work":"Data Science",
  "Year":2023}

In [140]:
a

{'name': 'Start-Tech Academy',
 'City': 'Gurugram',
 'Year': 2023,
 'Work': 'Data Science'}

As you can see it is not taking both only the updated one is present

**Changeable**

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

In [141]:
a.update({"Year":2024})

In [142]:
a

{'name': 'Start-Tech Academy',
 'City': 'Gurugram',
 'Year': 2024,
 'Work': 'Data Science'}

**Accessing Items**

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [143]:
a["name"]

'Start-Tech Academy'

**.get(key)**

get can be used to get the value of provided key

In [144]:
a.get("name")

'Start-Tech Academy'

#### Dictionary Methods

**Change Values**
You can change the value of a specific item by referring to its key name:
    
**.update({key:value})**

The update() method will update the dictionary with the items from the given argument.

In [146]:
a.update({"name":"START-TECH ACADEMY"})
a

{'name': 'START-TECH ACADEMY',
 'City': 'Gurugram',
 'Year': 2024,
 'Work': 'Data Science'}

**.items()**

Returns a list containing a tuple for each key value pair

In [147]:
a.items()

dict_items([('name', 'START-TECH ACADEMY'), ('City', 'Gurugram'), ('Year', 2024), ('Work', 'Data Science')])

**.keys()**

keys()	Returns a list containing the dictionary's keys

In [148]:
a.keys()

dict_keys(['name', 'City', 'Year', 'Work'])

**.get(key)**

get can be used to get the value of provided key

In [149]:
a.get("City")

'Gurugram'

# Set Types

### Python Sets

Set is a collection of non repetitive elements.

Sets are unordered, immutable, and unindexed.

In [1]:
a=set()

In [2]:
b={1,2,3,3}

In [3]:
type(a)

set

In [4]:
type(b)

set

In [5]:
print(b)  # no duplicates

{1, 2, 3}

**Unordered**
Unordered means that the items in a set do not have a defined order.
Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

**Duplicates Not Allowed**
Sets cannot have two items with the same value.

#### Operations on Set

Sets can have operations like :  Union, Intersection

In [17]:
a={1,2,3}
b={3,4,5}
a.union(b)

{1, 2, 3, 4, 5}

In [9]:
a

{1, 2, 3}

In [11]:
c=a.intersection(b)
c

{3}

#### Set Methods

**.add()**

Adds an element to the set

In [18]:
b.add(6)
b

{3, 4, 5, 6}

**.remove()**

Removes the specified element

In [19]:
b.remove(4)
b

{3, 5, 6}

**.pop()**

Removes an element from the set

In [21]:
b.pop()
b

{5, 6}

**.clear()**

Removes all the elements from the set

In [22]:
b.clear()
b

set()

**.difference()**

Returns a set containing the difference between two or more sets

In [23]:
a={1,2,3}
b={3,4,5,6}
a.difference(b)   # will return elements of a not present on b

{1, 2}

**.union()**

Return a set containing the union of sets

In [ ]:
a.union(b)

**.intersection()**


Returns a set, that is the intersection of two other sets (common elements)

In [ ]:
a.intersection(b)

**Len()**  
Set Function : Returns length of set

In [24]:
len(a)

3

## Python Conditional Expressions

Conditional statements are an essential part of programming in Python. They allow you to make decisions based on the values of variables or the result of comparisons.

Our decisions depends on the condition that needs to be met the same way a program can work differently based on different conditions

Python uses If-Else statements for creating the logic

### If-Else

Syntax:

    if(condition1):
        <code>
    else:
        <code>

In [25]:
age=17

In [26]:

if(age>=18):
    print("You can go inside")
# else:
#     print("you are not welocme")

### If-Else and Elif in Python

If-Else and elif statements are a multiway decisions taken by our program due to certain conditions in our code

**Syntax:**

    if(condition1):
        <code>
    elif(condition2):
        <code>
    else:
        <code>

In [31]:
age=90
if(age<=19):
    print("Teenager")
elif(age==100):
        print("congratulations on youe century")
elif(age>60):
    print("senior-citizen")
else:
    print("Middle aged")

senior-citizen

#### Python operators

**Arithmetic operators**

Arithmetic operators are used with numeric values to perform common mathematical operations:
   * \+ ----> Addition
   * \- ----> Subtraction
   * \* ----> Multiplication
   * / ----> Devision

In [38]:
x=21
y=1
x+y

22

**Assignment operators**

Assignment operators are used to assign values to variables:
Elamples:
   * = ----> Assign the value
   * += ----> Increment
   * -= ----> Decrement

In [41]:
x=5
x -= 1
x

4

**Reletional operators**

Relational operators are used to evaluate conditions inside if statements
Elamples:
   * == ----> Equals
   * \>= ----> Grater then/equal to
   * <= ----> Less then/equal to 
   * != ----> Not Equals

**Logical operators**

Logical operators operate on conditional statements
Elamples:
   * and ----> true if both conditions are true
   * or  ------> true if any one of the given condition is true
   * not ----> Invert true to false & false to true

In [42]:
x=1
y=3
z=2

In [44]:
x+y*z/7

7

In [ ]:
() > *,/ > +,- > not > and > or

### Writing If-Else Statements

**Indentation**

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

**If statement**

In [46]:
a=55
b=55
if(a>b):
    print("a is grater then b")

a is grater then b

**if-else Statement**

In [47]:
a=55
b=55
if(a>b):
    print("a is grater then b")
else:
    print("b is grater then a")

b is grater then a

**if-Elif Else statement**

In [48]:
a=55
b=55
if(a>b):
    print("a is grater then b")
elif(a==b):
    print("a is equals to b")
else:
    print("b is grater then a")

a is equals to b

We can have multiple elif between if and else

**Using Logical Operators**

In [52]:
age=75
if(age>18 or age<50):
    print("you can become the member of the gym")
else:
    print("you cannot become the member of the gym")

you can become the member of the gym

**Nested If**

You can have if statements inside if statements, this is called nested if statements.

In [58]:
a=11
b=6

In [59]:
if(a>10):
    print("a is grater then 10")
    if(b>=a):
        print("b is grater then 10")
    else: print("b is less then a ")
else:
    print("a and b both less then 10")

a is grater then 10
b is less then a

**The pass Statement**

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [65]:
age=-27

In [66]:
if (age>18):
    print("You are allowed")

elif(age<18):
    if(age<0):
        pass
    else:
        print("You are not allowed")

## Loops in python

Looping means repeating something over and over until a particular condition is satisfied

Python has 3 Loops
* For Loop
* While Loop

### For Loop

The variable will take on each value in the sequence, one at a time. 

The loop body will be executed for each value of the variable.

In [ ]:
For example, the following code will print each item in the list:

In [75]:
List= ["Item1","Item2","Item3",5,1,11,1,1,1,1,11,1,1,11]
for i in List:
    print(i)

Item1
Item2
Item3
5
1
11
1
1
1
1
11
1
1
11

In [68]:
List= ["Item1","Item2","Item3"]

List[0]

'Item1'

**Using range functioin**

range function is used to generate a sequence of numbers between a given range

For example, the following code will print each number from 1 to 10:

In [76]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

**You can also use strings in a loop and not only list**

In [77]:
for char in "Start-Tech Academy":
    print(char)

S
t
a
r
t
-
T
e
c
h

A
c
a
d
e
m
y

**break Statement**
With the break statement we can stop the loop at a particular iteration:

In [80]:
name="Start-Tech Academy"
count = 0
for char in name:
  print(char)
  count += 1
  if char == " ":
    break

S
t
a
r
t
-
T
e
c
h

In [81]:
count

11

similarly we also have continue to skip a particular iteration

In [83]:
name="Start-Tech Academy"
for char in name:
  #print(char)
  if char == " ":
    continue
  print(char)

S
t
a
r
t
-
T
e
c
h
A
c
a
d
e
m
y

In [85]:
for i in range(0,11):
    pass



print("abc")

abc

In [88]:
for i in range(0,10): 
    for j in range(i,10): 
        print(i,",",j)

0 , 0
0 , 1
0 , 2
0 , 3
0 , 4
0 , 5
0 , 6
0 , 7
0 , 8
0 , 9
1 , 1
1 , 2
1 , 3
1 , 4
1 , 5
1 , 6
1 , 7
1 , 8
1 , 9
2 , 2
2 , 3
2 , 4
2 , 5
2 , 6
2 , 7
2 , 8
2 , 9
3 , 3
3 , 4
3 , 5
3 , 6
3 , 7
3 , 8
3 , 9
4 , 4
4 , 5
4 , 6
4 , 7
4 , 8
4 , 9
5 , 5
5 , 6
5 , 7
5 , 8
5 , 9
6 , 6
6 , 7
6 , 8
6 , 9
7 , 7
7 , 8
7 , 9
8 , 8
8 , 9
9 , 9

**pass Statement**

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the **pass** statement to avoid getting an error.

In [ ]:
for i in range(0,10):
    pass

**Note:** We can create nested loops just like we create nested if statements

Example: print all possible 2 digit combinations from 0 to 9

In [ ]:
for i in range(0,10):
    for j in range(i,10):
        print(i,j)

### While Loop

A While loop repeatedly executes a block of code **until the condition is satisfied**

In [90]:
a=1
while(a<10):
    a=a+1 #increment

    print(a)
    # a+=1

2
3
4
5
6
7
8
9
10

Increment can also be written as a+=1

In [91]:
#We can decreement as well
a=10
while(a>0):
    print(a)
    a=a-1 #decrement

10
9
8
7
6
5
4
3
2
1

In [92]:
a=10
while(a>0):
    print(a)
    a-=1 #decrement

10
9
8
7
6
5
4
3
2
1

**Break and Continue can be used same way in While loop as well**

In [93]:
a=10
while(a>0):
    a-=1 #decrement
    if( a==6):
        continue
    print(a)

9
8
7
5
4
3
2
1
0

In [94]:
a=10
while(a>0):
    print(a)
    a-=1 #decrement
    if( a==6):
        break

10
9
8
7

### Sum of Even Numbers

In [105]:
n=10
sum = 0
for i in range (0 ,n+1):
    if i % 2 == 0:
        sum = sum + i

In [106]:
sum

30

In [107]:
2+4+6+8+10

30

### Reverse string

In [114]:
str = '123456789'
rev_str = ''

In [122]:
i= len(str)-1
while i>=0:
    rev_str += str[i]
    i -= 1
    # i = i-1

In [121]:
str[i]

'9'

In [123]:
rev_str

'987654321'

## Functions

Python Functions is a block of statements that return the specific task. 

The idea is to put some commonly or repeatedly done tasks together and make a function so that instead of writing the same code again and again for different inputs, we can do the function calls to reuse code contained in it over and over again.

In [127]:
def pr():
    print("good morning")

In [128]:
pr()

good morning

### Two Types
 * Built-IN
 * User Defined

**Built-in functions:**

These functions are provided by Python and cannot be modified. 

Some examples of built-in functions are **print(), len(), and type().**

## USer-defined
**Creating a Function**

In Python a function is defined using the def keyword:

**syntax**

def fun_name():

    <code>

**Function with Arguments**

In [129]:
def add_2_num(a,b):
    print(a+b)

In [130]:
add_2_num(2,5)

7

In [141]:
def greet(name):
    # print("good morning "+name)
    print(f"good morning {name}");
    # a= f"good morning {name}"
    # return a

In [140]:
greet("john")

'good morning john'

With return statement

In [137]:
def add_2_num(a,b):
    return a+b

In [138]:
add_2_num(5,10)

15

With default Parameter Value

In [144]:
def add_2_num(a=5,b=5):
    return a+b

In [146]:
add_2_num(5,10)

15

In [147]:
def greet(name="john"):
    print(f"good morning {name}");

In [148]:
greet("sam")

good morning sam

In [149]:
greet()

good morning john

In [156]:
def fun(var1,var2,var3):
    a=var1*var2*var3
    return a

In [158]:
fun(4,5,6,5)

TypeError: fun() takes 3 positional arguments but 4 were given

In [ ]:
*Args

In [159]:
def fun(*Args):
    a=Args[0]*Args[1]*Args[2]
    return a

In [160]:
fun(4,5,6,5)

120

In [165]:
def fun12(*Args):
    out = 1
    for i in Args:
        out = out * i 
    return out

In [170]:
fun12(10,2,3,5,4,5,8,4)

192000

You can send any data types as argument to a function (string, list, dictionary etc.).

**Passing a List as an Argument**

if you send a List as an argument, it will still be a List when it reaches the function:

Example

In [174]:
list=['apples','potatoes','mangoes']
def gro(l):
    for i in l:
        print(i)

In [175]:
gro(list)

apples
potatoes
mangoes

In [176]:
gro("Start-Texg Academy")

S
t
a
r
t
-
T
e
x
g

A
c
a
d
e
m
y

**Recursion**
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

In [ ]:
n! = n * (n-1)!
n!= n* (n-1) *(n-2)*(n-3)

In [ ]:
factorial(n) = factorial(n-1) *n

In [190]:
def fectorial(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num* fectorial(num-1)

In [191]:
fectorial(4)

24

In [192]:
4*3*2*1

24

In [193]:
# fectorial(4)
# 4*factorial(3)
# 4*3*factorial(2)
# 4*3*2*factorial(1)
4*3*2*1

24

In [ ]:
0 1 1 2 3 5 8

In [194]:
def fib(n):
    if n==0 or n==1:
        return n
    else:
        return fib(n-1) + fib(n-2)

In [198]:
fib(7)

13

# Lambda functions in python

A lambda function is a small anonymous function.

Lambda functions are similar to user-defined functions but without a name.

This can be useful for short, one-off functions that you don't need to reuse. Lambda functions are also more concise than regular functions, as they can be written on a single line of code.

In [ ]:
# lambda argument/s : expression

In [4]:
var= lambda a,b,c : a+b*c

In [5]:
print(var(2,3,2))

8

In [16]:
def func(n):
    return lambda a :a*n

In [17]:
var2 = func(10)
print(var2(4))

40

### MAP()

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [26]:
num = [1,2,3,4]

In [27]:
res = map(lambda x: x*x , num)

In [28]:
list(res)

[1, 4, 9, 16]

In [29]:
# map(function : iterable) --- syntax

In [30]:
celsius = [ 35,25,40,38]

In [ ]:
# fer = (9/5 * cel) +32

In [31]:
fahrenheite = list(map(lambda c : (9/5*c)+32 , celsius))

In [32]:
fahrenheite

[95.0, 77.0, 104.0, 100.4]

# File I/O

In [ ]:
#program ----> file
#         <----

## OPEN()

for opening  a fiel we use open

In [53]:
file=open("example.txt","r")

## read()

The read() method reads a string from an open file.

In [73]:
file=open("example.txt","r")
text=file.read()

In [74]:
print(text)

hello everyone
how are you doing

In [67]:
# read with char length

In [68]:
file=open("example.txt","r")
text=file.read(4)
print(text)

hell

In [88]:
file=open("example.txt","r")
text=file.readline()
print(text)

The weather today is good

modes of opening files
 * r  -- open for reading
 * w  -- open for writing
 * a  -- open for appending
 * \+  -- open for updating

## Write()

The write() method writes any string to an open file.

The write() method does not add a newline character ('\n') to the end of the string

In [87]:
file=open("example.txt","w")
file.write("The weather today is good \n  yes it is good \n")

45

In [89]:
file=open("example.txt","a")
file.write("Start-tech Academy")

18

In [90]:
file=open("example.txt","r")
text=file.read()
print(text)

The weather today is good
  yes it is good
Start-tech Academy

In [91]:
file=open("example.txt","w+")
file.write("Start-tech Academy")

18

In [92]:
file=open("example.txt","r")
text=file.read()
print(text)

Start-tech Academy

In [97]:
file.close()

In [98]:
file.read()

ValueError: I/O operation on closed file.

In [95]:
file=open("example.txt","r")

In [ ]:
file=open("example.txt","r")
file.read()
file.colse()

In [103]:
with open("example.txt","r") as f:
    a=f.read()
    print(a)

Start-tech Academy